# https://github.com/abhijithvijayan/awesome-stars
# https://github.com/maguowei/awesome-stars
name: update awesome-stars
on:
  workflow_dispatch:
  schedule:
  - cron: 0 * * * *
jobs:
  build:
    name: 'stargazed update'
    runs-on: ubuntu-latest
    steps:
      - name: 'Use GitHub Actions'
        uses: actions/checkout@v4  # 升级到 v4
      
      - name: 'Use Node.js 20.x'
        uses: actions/setup-node@v4  # 升级到 v4
        with:
          node-version: 20.x  # 使用 Node.js 20
      
      - name: 'Install Package'
        run: 'npm install --global stargazed'
      
      - name: 'Update Repo'
        env:
          GITHUB_TOKEN: '${{ secrets.MY_PERSONAL_TOKEN }}'
        run: 'stargazed --username "dick318" --token ${GITHUB_TOKEN} --repo "awesome-stars" --message "stargazed update by GitHub Actions Workflow" --sort'
