# https://github.com/abhijithvijayan/awesome-stars
# https://github.com/maguowei/awesome-stars
name: update awesome-stars
on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'
jobs:
  build:
    name: 'starred update'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
      
      - name: 'Set up Python'
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: 'Install starred'
        run: pip install starred
      
      - name: 'Update README'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: starred --username "dick318" --token ${GITHUB_TOKEN} --repository "awesome-stars" --sort
